* {
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-drag: none; /* Отключает перетаскивание изображений */
}

body{
  background: #0A0100;
}

.load{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.load-rotate{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 256px;
  height: 256px;
  z-index: 2;
}

.load-resize{
  position: absolute;
  top: 450px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 90px;
  z-index: 3;
}

.load-resize-item{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.load-resize-item-2{
  position: absolute;
  top: 2px;
  left: -70px;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 40px;
}
.load-img{
  position: absolute;
  width: 100%;
  height: 100%;

}

.main{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


}
.main-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }

.top-menu{
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  border-bottom: 8px solid #73583F;
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.25);

}

.settings-btn{
  position: absolute;
  right: 20px;
  bottom: -100px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.settings-btn img{
  width: 100%;
  height: 100%;
}

.bg-top-menu{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #0A0100;
  opacity: 0.8;

}

.text-family{
  font-family: 'Segoe UI Symbol', serif;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.top-menu-title{
  position: absolute;
  left: 10px;
  top: 0;
  width: 170px;
  height: 53px;
  font-family: 'Segoe UI Symbol', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.top-menu-score{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: 'Segoe UI Symbol', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 35px;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.kombo{
  z-index: 1100;
  font-size: 30px;
  margin-top: 5px;

}

.top-menu-step{
  position: absolute;
  right: 14px;
  left: auto;

  margin: auto;
  width: auto;
  height: 55px;
  font-family: 'Segoe UI Symbol', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.playing-field{
  position: absolute;
  left: -20px;
  right: 0;
  top:400px;
  width: 500px;
  height: 500px;
  margin: auto;
  transform: scale(2);
}

.hand{
  position: absolute;
  left: auto;
  right: -120px;
  top: -60px;
  bottom: 50px;
  display: flex;
  gap: 10px;
  margin: auto;

}
.hand-item{
  position: relative;
  margin: 5px;


}
.hand-item-effect{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 70px;
}
.hand-item-effect:hover{
  box-shadow: 0 0 4px 4px #d12613;
}
.stone-field .arrow{
  opacity: 0;
  transition: 1s;

}
.arrow {
   width: 30px;
   height: 20px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.stone-field:hover .arrow{
  opacity: 1;
  transition: .5s;

}

.stone-field:hover .crash_2{
  opacity: 1;
  transition: .5s;

}
.handTile{
  width: 62px;
  height: 85px;
  cursor:pointer;

}


.hand-box{
  display: grid;
  grid-template-areas: "a a a a";
  grid-auto-columns: 63px;
  margin: auto;
  height: 165px;
  width: 248px;
  transform: scale(0.8);
  background: #1c1b1b;
  overflow: hidden;

}

.btn-hand{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  left: 40px;
  bottom: 120px;

}
.restart, .crash, .direct{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 120px;
  left: auto;

}

.restart{
  right: 30px;
}

.crash{
  right: 105px;
}

.direct{
  right: 180px;
}

.btn-hover{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #e0e60c;
  border-radius: 50px;
  box-shadow: 0 0 25px #e0e60c;
  opacity: 0;
}

.restart:hover  .btn-hover{
  opacity: 1;
}

.crash:hover  .btn-hover{
  opacity: 1;
}
.direct:hover  .btn-hover{
  opacity: 1;
}

.settings-btn:hover  .btn-hover{
  opacity: 1;
}

.crash_2{
  position: absolute;
  left: 20px;
  width: 50px;
  opacity: 0;
}
.crash_2 img{
  width: 100%;
  height: 100%;
}

.btn-counter{
  position: absolute;
  top: -11px;
  right: -11px;
  width: 20px;
  height: 20px;
  margin: auto;
  color: #d12613;
  background: #1c1b1b;
  text-align: center;
  border-radius:15px ;

}

.btn-hand img, .restart img, .crash img, .direct img, .settings-btn img{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 1;

}

.modal, .modal-bg{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.modal-bg{
  background: #0A0100 !important;
  opacity: 0.3;
}
.modal-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 500px;
  z-index: 1010;
}
.modal-content img{
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal-title{
  position: absolute;
  z-index: 1010;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
  text-align: center;
  width: 200px;
  font-size: 40pt;
}
.modal-body{
  position: absolute;
  z-index: 1010;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 650px;
  height: 400px;
  font-size: 20pt;


}
.modal-footer{
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  z-index: 1010;
  width: 600px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  height: 80px;
}
.modal-btn{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  cursor: pointer;

}

.modal-btn-text{
  position: absolute;
  z-index: 1010;
  text-align: center;
  width: 100%;
  height: 40px;
  top: 0;
  bottom: 0;
  font-size: 20pt;
  margin: auto;
  color: #CCB9B1;
}

.field-top{
  position: absolute;
  top: -20px;
  left: 0;
  right: 14px;
  margin: auto;
  width: 20px;
  height: 40px;
  z-index: 3000;

}
.field-bottom{
  position: absolute;
  right: 14px;
  left: 0;
  margin: auto;
  bottom: -20px;
  width: 20px;
  height: 40px;
  z-index: 3000;

}
.field-left{
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 80px;
  z-index: 3000;

}
.field-right{
  position: absolute;
  right: -5px;
  width: 20px;
  height: 80px;
  z-index: 3000;

}

.modal-body-text{
  margin-top: 20px;
}
@media (orientation: landscape) {
  .main-bg{
      width: 100%;
  }
}

@media (orientation: portrait) {
  .main-bg{
     height: 100%;
  }
}

@media (max-height: 1120px) {
  .playing-field{
    top: 200px;
    transform: scale(1.4);
  }
}


@media (max-width: 1940px) {

  .hand-box{
    height: 165px;
  }
  .hand{
    right: -120px;
  }
  .btn-hand{
    left: 30px;
  }
  .restart{

  }
}

@media (max-width: 1500px) {
  .playing-field{
    top: 100px;
    transform: scale(1);
  }
  .hand-box{


  }

  .btn-hand{
    left: 30px;
  }
  .restart{

  }
  .top-menu-title, .top-menu-score, .top-menu-step{
    top: 5px;
    height: auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
  }

}

@media (max-width: 560px) {
  .playing-field{
    height: 600px;
    transform: scale(0.8);
    left: 0;
  }
  .hand-box{
    height: 90px;
    width: 500px;
    grid-template-areas: "a a a a a a a a";
  }
  .hand{
    right: auto;
    top: auto;
    bottom: -10px;
    left: -70px;
  }
  .btn-hand{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    left: auto;
    bottom: -25px;
  }

  .restart, .crash, .direct{
    top: auto;
    bottom: -100px;
  }

  .restart{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 60px;
    left: auto;
  }

  .direct{
    right: 400px;
  }

  .crash{
    right: 230px;
  }


  .modal-content{
    width: 100%;
    height: 520px;
  }
  .modal-body-text{
    margin-left: 40px;
  }
  .modal-footer{
    text-align: center;
    position: fixed;
    flex-wrap: wrap;
    width: min-content;
    top: 260px;

  }
.modal-btn{
 width: 200px;

}
  .top-menu-score{
    left: auto;
    right: 14px;
    top: 5px;
    width: auto;
  }
  .top-menu-step{
    left: 14px;
    right: auto;
    top: 40px;
    width: auto;
  }

  .settings-btn{
    position: absolute;
    right: 8px;
    bottom: -75px;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }


}

@media (max-width: 360px) {
  .playing-field{
    left: -10px;
  }
}

@media (max-height: 740px) {
  .playing-field{
    top: -10px;
    transform: scale(0.6);
  }
  .top-menu{
    height: 30px;
  }
  .top-menu-step{
    right: auto;
    left: 14px;
    top: 40px;
    height: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;

  }
  .top-menu-title, .top-menu-score{
    top: 5px;
    height: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
  }
  .modal-content{
    width: 600px;
    height: 300px;
  }
  .modal-body{
    width: 500px;
    height: 270px;
  }
  .modal-body-text{
    margin-top: 0;
  }
  .modal-footer{
    height: 50px;
    width: 500px;
  }
  .kombo{
    margin-top: 20px;
  }

}

