* {
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-drag: none; /* Отключает перетаскивание изображений */
  cursor:url("./assets/cursor.png"), pointer;
}

img{
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

body{
  background: #0A0100;
  margin: 0;
  padding: 0;
  font-family: "Huninn", sans-serif;
}

.text-range{
  margin-left: 30px;
  text-align: left;
}

.content{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  text-align: center;
  background: #251C13;
  border: solid #736856 1px;
  border-radius: 15px;
  box-shadow: 0 5px 15px #000000, inset 0 0 10px 5px rgba(93,227,20,0.25);
}

.total-score{
  top: 20%;
  font-size: 25pt;
  padding: 20px 0 20px 0 ;
}

.sound{
  top:42%;
  padding: 0 0 20px 0 ;
}

.title-sound{
  text-align: left;
  padding-left: 20px;
  font-size: 20pt;
}

.music{
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.music-content{
  width: 80%;
}
.music svg{
  fill: #bd8646;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.range{
  margin: 10px 0 0 20px;
  width: 100%;
}

input[type=range]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #261407;
  box-shadow:inset 0 -5px 10px 5px #4F371F;
  border-radius: 25px;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track{
  background: #261407;
  box-shadow:inset 0 -5px 10px 5px #4F371F;
  border-radius: 25px;
}

input[type="range"]::-moz-range-track {
  background: #261407;
  box-shadow:inset 0 -5px 10px 5px #4F371F;
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb{
  background: #D4AD5F;
  border-radius: 15px;
  width: 50px;
}

input[type=range]::-ms-thumb{
  background: #D4AD5F;
  border-radius: 15px;
  width: 50px;
}

input[type=range]::-webkit-slider-thumb{
  background: #D4AD5F;
  border-radius: 15px;
  width: 50px;

}

.settings-close{

}

.settings-close{
  position: absolute;
  height: 60px;
  width: 35%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.load{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.load-rotate{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 256px;
  height: 256px;
  z-index: 2;
}

.load-rotate img{
  position: absolute;
  width: 256px;
  height: 256px;
  right: 123px;
  bottom: 180px;
}

.load-resize{
  position: absolute;
  top: 65%;
  right: auto;
  left: 50%;
  bottom: auto;
  width: 800px;
  height: 90px;
  z-index: 3;
}

.load-resize-item{
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 400px;
  margin: auto;
  width: 100%;
  height: 100%;
}
.load-resize-item-2{
  position: absolute;
  top: 2px;
  right: 470px;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 40px;
}
.load-img{
  position: absolute;
  width: 100%;
  height: 100%;

}

.main{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }

.top-menu{
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  border-bottom: 8px solid #73583F;
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.25);

}




.bg-top-menu{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #0A0100;
  opacity: 0.8;

}

.text-family{
  font-family: "Huninn", sans-serif;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.top-menu-title{
  position: absolute;
  left: 10px;
  top: 0;
  width: auto;
  height: 53px;
  font-family: "Huninn", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.top-menu-score{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "Huninn", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 35px;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.kombo{
  z-index: 1100;
  font-size: 30px;
  margin-top: 5px;

}

.top-menu-step{
  position: absolute;
  right: 14px;
  left: auto;

  margin: auto;
  width: auto;
  height: 55px;
  font-family: "Huninn", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  white-space: nowrap;
  background: linear-gradient(180deg, #faceaf 0%, #b86227 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.playing-field{
  position: absolute;
  left: 50%;
  top:50%;
  width: 500px;
  height: 500px;
  transform: scale(1.5);

}

.playing-field-item{
  position: absolute;
  right: 600px;
  bottom: 650px;
}

.board-box{
  position: relative;
  right: 60px;
}


.hand{
  position: absolute;
  left: 370px;
}
.hand-item{
  position: relative;
  margin: 5px;
}

.hand-btn{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
  top: 10px;
}


.hand-item-effect{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 70px;
}
.hand-item-effect:hover{
  box-shadow: 0 0 4px 4px #d12613;
}

.stone-field .arrow{


}
.arrow {
   width: 30px;
   height: 20px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.stone-field:hover .arrow{


}

.stone-field:hover .crash_2{
  opacity: 1;
  transition: .5s;

}
.handTile{
  width: 62px;
  height: 85px;
}


.hand-box{
  display: grid;
  grid-template-areas: "a a a a";
  grid-auto-columns: 63px;
  margin: auto;
  height: 165px;
  width: 248px;
  transform: scale(0.8);
  background: #1c1b1b;
  overflow: hidden;

}

.btn-hand{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  left: 40px;
  bottom: 120px;

}
.restart, .crash, .direct, .settings-btn{
  position: relative;
  width: 50px;
  height: 50px;
}

.btn-hover{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #e0e60c;
  border-radius: 50px;
  box-shadow: 0 0 25px #e0e60c;
  opacity: 0;
}

.restart:hover  .btn-hover{
  opacity: 1;
}

.crash:hover  .btn-hover{
  opacity: 1;
}
.direct:hover  .btn-hover{
  opacity: 1;
}

.settings-btn:hover  .btn-hover{
  opacity: 1;
}

.crash_2{
  position: absolute;
  left: 20px;
  width: 50px;
  opacity: 0;
}
.crash_2 img{
  width: 100%;
  height: 100%;
}

.btn-counter{
  position: absolute;
  top: -18px;
  right: -18px;
  width: 30px;
  height: 30px;
  margin: auto;
  color: #ffffff;
  background: #1c1b1b;
  text-align: center;
  border-radius:15px ;
  font-size: 19pt;

}

.btn-hand img, .restart img, .crash img, .direct img, .settings-btn img{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

}

.modal, .modal-bg, .settings{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.modal-bg{
  background: #0A0100 !important;
  opacity: 0.9;
}
.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  z-index: 1010;
}
.modal-content-item{
  position: absolute;
  width: 800px;
  height: 500px;
  right: 400px;
  bottom: 250px;
}

.modal-content img{
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal-title{
  position: absolute;
  z-index: 1010;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
  text-align: center;
  width: auto;
  font-size: 40pt;
}
.modal-body{
  position: absolute;
  z-index: 1010;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 650px;
  height: 400px;
  font-size: 20pt;
}
.modal-footer{
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  z-index: 1010;
  width: 600px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  height: 80px;
}
.modal-btn{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;

}

.modal-btn-text{
  position: absolute;
  z-index: 1010;
  text-align: center;
  width: 100%;
  height: 40px;
  top: 0;
  bottom: 0;
  font-size: 20pt;
  margin: auto;
  color: #CCB9B1;
}

.settings-body{
  position: absolute;
  width: 900px;
  height: 600px;
  top: 50%;
  left: 50%;
  z-index: 80000;
}
.settings-body-item{
  position: absolute;
  width: 900px;
  height: 600px;
  right: 450px;
  bottom: 300px;
}

.settings-body h2{
  top: 50px;
}
.settings-body img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}


.field-top{
  position: absolute;
  top: -20px;
  left: 0;
  right: 14px;
  margin: auto;
  width: 20px;
  height: 40px;
  z-index: 3000;

}
.field-bottom{
  position: absolute;
  right: 14px;
  left: 0;
  margin: auto;
  bottom: -20px;
  width: 20px;
  height: 40px;
  z-index: 3000;

}
.field-left{
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 80px;
  z-index: 3000;

}
.field-right{
  position: absolute;
  right: -5px;
  width: 20px;
  height: 80px;
  z-index: 3000;

}

.modal-body-text{
  margin-top: 20px;
}
@media (orientation: landscape) {
  .main-bg{
      width: 100%;
  }

}

@media (orientation: portrait) {
  .main-bg{
     height: 100%;
  }
}


@media (max-width: 1250px) {

  .playing-field{
    transform: scale(1);
  }
  .playing-field-item{
    right: 700px;
    bottom: 750px;
  }
}

@media (max-width: 1500px) {
  .settings-body{
    transform: scale(0.6);
  }
  .settings-body-item{
    position: absolute;
    right: 760px;
    bottom: 600px;
  }
  .top-menu-title, .top-menu-score, .top-menu-step, .kombo{
    top: 5px;
    height: auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
  }

  .load-resize{
    transform: scale(0.5);

  }
  .load-resize-item{
    right: 800px;
  }
  .load-resize-item-2{
    right: 870px;
  }



}

@media (max-width: 820px) and (orientation: portrait) {
  .top-menu-title, .top-menu-score, .top-menu-step, .kombo{
   font-size: 15pt;
  }

  .playing-field{
    transform: scale(0.8);
  }
  .playing-field-item{
    right: 750px;
    bottom: 850px;
  }
  .board-box{
    position: relative;
    right: 20px;
    bottom: 40px;
  }
  .settings-body{
    transform:  scale(0.4);
  }
  .settings-body-item{
    right: 1130px;
  }
  .hand-box{
    height: 90px;
    width: 500px;
    grid-template-areas: "a a a a a a a a";
  }
  .hand{
    left: -60px;
    top: 540px;
    transform: scale(1.3);
  }
  .hand-btn{
    position: relative;
  }

  .modal-content{
    transform: scale(0.5);
  }
  .modal-content-item{
    right: 800px;
    bottom: 500px;
  }

  .top-menu-score{
    left: auto;
    right: 14px;
    top: 5px;
    width: auto;
  }
  .top-menu-step{
    left: 14px;
    right: auto;
    top: 40px;
    width: auto;
  }

}

@media (max-width: 390px) and (orientation: portrait) {
  .playing-field{
    transform: scale(0.6);
  }
  .playing-field-item{
    right: 860px;
    bottom: 1100px;
  }
}

@media (max-width: 460px) {

}

@media (max-height: 840px) and (orientation: landscape) {

  .playing-field{
    transform: scale(1);
  }
  .playing-field-item{
    right: 700px;
    bottom: 700px;
  }
  .top-menu{
    height: 30px;
  }

  .top-menu-title, .top-menu-score, .kombo, .top-menu-step{
    top: 5px;
    height: 30px;
    font-weight: 400;
    font-size: 15pt;
    line-height: 20px;
  }



  .kombo{
    margin-top: 20px;
  }



}

@media (max-height: 640px) and (orientation: landscape) {
  .playing-field{
    transform: scale(0.9);
  }
  .playing-field-item{
    right: 800px;
    bottom: 750px;
  }
  .modal-content{
    transform: scale(0.5);
  }
  .modal-content-item{
    right: 800px;
    bottom: 500px;
  }
}

@media (max-height: 540px) and (orientation: landscape) {
  .playing-field{
    transform: scale(0.5);
  }
  .playing-field-item{
    right: 1000px;
    bottom: 960px;
  }
  .settings-body {
    transform: scale(0.4);
  }
  .settings-body-item {
    right: 1120px;
    bottom: 750px;
  }
}

@media (max-height: 780px) and (orientation: portrait) {
  .playing-field{
    transform: scale(0.7);
  }
  .playing-field-item{
    right: 800px;
    bottom: 890px;
  }
}
